@model IEnumerable<NetworkingHelper.Models.ConnectionModels.ConnectionListModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@using (Html.BeginForm())
{
    <p>
        Find by event: @Html.TextBox("SearchString")
        <input type="submit" value="Search" />
    </p>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EventName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ConnectionName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Job)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Employer)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.EventName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ConnectionName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Job)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Employer)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ConnectionID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ConnectionID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ConnectionID })
        </td>
    </tr>
}

</table>
